<div id="club-show">
<h1><%= @club.name %></h1>

<p><%= @club.description %></p>

<div id="roster">
<p>Club Roster: </p>
<ul>
    <% @students.each do |student| %>
        <li>
          <%= link_to student.name, student_path(student) %> 
        </li>
    <% end %>
</div>
<br>
<br>
<h4>
<% if @current_student.clubs.include?(@club) %>
    <div id="comment-box">
    Post a Comment:
    <%= form_for @chat do |f| %>
        <br>
        <%= f.text_area :content %>
        <%= f.hidden_field :club_id, :value => @club.id %>
        <%= f.hidden_field :student_id, :value => @student.id %>
        <br>
        <%= f.submit "Post" %>
    <% end%>
    </div>
<% end %>
</h4>

</ul>
<p>Recent comments: </p>
<ul>
    <% @chats.each do |chat| %>
        <li>
            "<%= chat.content %>" 
            <br>
            by: <%= link_to chat.student.username, student_path(chat.student) %>
        </li>
    <% end %>
</ul>

 <%= link_to "View Your Comments", chats_path %>
 <br>
<br>
 <h5> <%= link_to "Back", clubs_path %> </h5>

</div>
