<h1><%= @club.name %></h1>
<h5> When: Mondays and Wednesdays at 4pm
<br>
Where: Quidditch Field  </h5>


<p><%= @club.description %></p>

<p>Club Roster: </p>
<ul>
    <% @students.each do |student| %>
        <li>
            <%= link_to student.name, student_path(student) %>
        </li>
    <% end %>
</ul>
<p>Recent comments: </p>
<ul>
    <% @chats.each do |chat| %>
        <li>
            "<%= chat.content %>" 
            <br>
            by: <%= link_to chat.student.name, student_path(chat.student) %>
        </li>
    <% end %>
</ul>

<h4> <%= link_to "Add a Comment", new_club_chat_path(@club.id) %> </h4>


