<div class="registration-page">
        <h1> Registration 🧙‍♂️ <h1>
    <span class="registration-text">
        <%= form_for @student do |f| %>
            <%= f.label :name %>
            <br>
            <%= f.text_field :name %>
            <br>
            <%= f.label :username %>
            <br>
            <%= f.text_field :username %>
            <br>
            <%= f.label :password %>
            <br>
            <%= f.password_field :password %>
            <br>
            <%= f.label :house %>
            <br>
            <%= f.select :house, ["Gryffindor", "Slytherin", "Ravenclaw", "Hufflepuff"], :prompt => "Select One" %>
            <br>
            <%= f.label :year %>
            <br>
            <%= f.number_field :year %>
            <br>
            <%= f.label :bloodstatus %>
            <br>
            <%= f.select :bloodstatus, ["Muggle-Born", "Half-Blood", "Pure-Blood"], :prompt => "Select One" %>
            <br>
            <%= f.label :patronus %>
            <br>
            <%= f.text_field :patronus %>
            <br><br>
            <button type="submit" class="btn btn-success btn-lg">Create Your Account</button>
        <% end %>
    <span>
</div>