<h1><%= @student.name %></h1>
<p>House: <%= @student.house %></p>
<p>Year: <%= @student.year %></p>
<p>Patronus: <%= @student.patronus %></p>
<p>Bloodstatus: <%= @student.bloodstatus %></p>
<br>
<%= link_to "View My Courses", syllabuses_path %>
<br>
<<<<<<< HEAD
<%= link_to "All of My Clubs", memberships_path %>
<br>
<%= button_to "Register for a course", new_syllabus_path, method: :get %>
<br>
<%= button_to "Join a Club", new_membership_path, method: :get %>
<br>
<h4>My Comments</h4>
<ul>
    <% @chats.each do |chat| %>
        <li>
            "<%= link_to chat.content, chat_path(chat) %>" - <%= link_to chat.club.name, club_path(chat.club) %>
        </li>
    <% end %>
</ul>

=======
<%= link_to "View My Clubs", memberships_path %>
>>>>>>> 10f899ed3a159e5594468ce018470c25a4810f03




