<h1><%= @student.name %></h1>
<p>House: <%= @student.house %></p>
<p>Year: <%= @student.year %></p>
<p>Patronus: <%= @student.patronus %></p>
<p>Bloodstatus: <%= @student.bloodstatus %></p>
<br>
<%= link_to "All of My Courses", syllabuses_path %>
<br>
<%= link_to "All of My Clubs", memberships_path %>




