
<ul>
<% if flash[:errors] %>
 <% flash[:errors].each do |error| %>
   <li> <%= error %> </li>
   <% end %>
<% end %>
</ul>


<div>
<%= form_for @chat, url: "/clubs/#{@club_id}/chats" do |f| %>
    <%= f.hidden_field :club_id, value: @club_id %>
    <%= f.hidden_field :student_id, value: @current_student.id %>
    <br>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <br>
    <%= f.submit %>
<% end %>
</div>