<div>
<%= form_for @chat do |f| %>
    <%= f.hidden_field :student_id %>
    <br>
    <%= f.label :club %>
    <%= f.collection_select :club_id, @current_student.clubs, :id, :name %>
    <br>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <br>
    <%= f.submit %>
<% end %>
</div>