<div>
<%= form_for @chat do |f| %>
    <%= f.hidden_field :student_id %>
    <br>
    <%= f.hidden_field :club_id %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <br>
    <%= f.submit %>
<% end %>
</div>