<!DOCTYPE html>
<html>
  <head>
    <title>Hogboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
        
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if @logged_in %>

  <p>
    Logged In As: <%= @current_student.name %> 
    <br>
    <%= link_to "Home", student_path(@current_student) %> <%= button_to "Log Out", "/auth", method: :delete %>

<% else %>

  <%= link_to "Login", "/login" %>
  <%= link_to "Register", new_student_path %>

<% end %>


    <%= yield %>
  </body>
</html>
